<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Кто мы</h2>
            <p>Мы команда программистов и дизайнеров, мы занимаемся разработкой веб- сайтов, интернет- магазинов и приложений.</p>
            <p>Вместе с этим мы запускаем второе направление нашей деятельности, проводя <strong>обучение веб-разработке</strong>.</p>
          </div>
          <p>Наша миссия заключается в продвижении малого бизнеса в интернет-пространстве, наша цель - совмещение простоты и функциональности в наших продуктах.</p>
           <p>Вы можете привлечь нас в разработке своего приложения или вы можете просто поделиться своей идеей, а мы поможем вам в ее реализации. Мы работаем вместе с вами на протяжении всего проекта.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/home_mobile.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>
