


 <section id="feature">
  <div class="container">
    <div class="row">
      <div id="hero"
           class="bg-overlay-light-80">
      <div class="col-md-7 col-md-offset-5">
        <h2>Как мы работаем</h2>
        <ol>
          <li>Вы связываетесь с нами относительно своей потребности или просто делитесь идеей;</li>
          <li>Мы проводим первичную оценку и даем согласие на ваши условия или сообщаем, на каких условиях готовы работать;</li>
          <li>Мы приступаем к работе и первые 7 дней работаем бесплатно;</li>
          <li>Демонстрация потенциальному клиенту проделанной работы;</li>
          <li>Подписание договора;</li>
          <li>Клиент оплачивает 25% от стоимости полного проекта;</li>
          <li>Каждые следующие две недели мы отчитываемся о проделанной работе;</li>
          <li>Оплата оставшихся 75% происходит по факту совершения проекта.</li>

        </ol>
        <p></p>
        <p></p>
        <p></p>
        <a href="../portfolio.html" class="btn btn-view-works">Смотреть работы</a>
      </div>
      </div>
    </div>
  </div>
</section>

