<!-- Call to action Start -->

<section id="counter"
         class="section bg-overlay-dark-40"
         data-background-image="img/vintazh/15.jpg">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>Наш метод - качество в деталях</h2>
            <p>Вы хотели бы поделиться своей идеей, оставить отзыв или предложить сотрудничесво? Напишите нам. Мы заранее говорим вам спасибо:) </p>
            <a class="btn btn-default btn-call-to-action" href="../contact.html" >Контакты</a>
          </div>
        </div>
      </div>
    </div>

</section>
<!-- END / COUNTERS -->
