<!--
 <div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="block">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Ваше имя">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Subject">
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="block">
      <form>
        <div class="form-group-2">
          <textarea class="form-control" rows="3" placeholder="Сообщение"></textarea>
        </div>
        <button class="btn btn-default" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</div>
-->

<form id="contactForm" data-toggle="validator" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Имя" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email" required>
        <div class="help-block with-errors"></div>
      </div>
      <div class="form-group">
      <label>Бюджет (тыс. руб.)</label>
       <br>
        <select name="budget">
         <option>-- нет --</option>
         <option>15 - 30</option>
         <option selected>30 - 60</option>
         <option>60 - 100</option>
         <option>100 - 200</option>
         <option>по договоренности</option>
       </select>
      </div>
      <label>Загрузить файл</label>
      <div class="form-group">
      <input type="file" name="file">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" class="form-control" id="subject" placeholder="Тема">
      </div>
      <div class="form-group">
        <textarea id="message" class="form-control" rows="5" placeholder="Сообщение" required></textarea>
        <div class="help-block with-errors"></div>
      </div>
      <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit">Отправить</button>
      <div id="msgSubmit" class="h3 text-center hidden"></div>
      <div class="clearfix"></div>
    </div>
  </div><!-- / row -->
</form>
