<!-- PRELOADER -->
<div class="preloader">
  <div class="item">
    <div class="item-child"></div>
    <div class="item-child-last"></div>
  </div>
  <div class="item">
    <div class="item-child"></div>
  </div>
</div>
<!-- END / PRELOADER -->



<!-- HEADER PAGE -->
<header id="header-page">
  <div class="container">
    <!-- LOGO -->
    <a href="/index.html">
    <div class="logo">
      <span class="">Apigraph</span>
    </div>
    </a>
    <!-- END / LOGO -->

    <!-- NAVIGATION -->
    <nav class="navigation pi-navigation" data-responsive="1200">
      <ul class="nav menu-list">
        <li><a href="/index.html">Главная</a></li>
        <li><a href="/about-us.html">О нас</a></li>
        <li><a href="/portfolio.html">Портфолио</a></li>
        <li><a href="/blog.html">Блог</a></li>
        <li><a href="/contact.html">Контакты</a></li>
      </ul>
    </nav>
    <!-- END / NAVIGATION -->

    <!-- OPEN MENU RESPONSIVE -->
    <a class="open-menu-responsive" href="#">
      <div class="hamburger">
        <span class="item item-1"></span>
        <span class="item item-2"></span>
        <span class="item item-3"></span>
      </div>
    </a>
    <!-- END / OPEN MENU RESPONSIVE -->

    <!-- CLOSE MENU RESPONSIVE -->
    <a class="close-menu-responsive" href="#">
      <span class="item item-1"></span>
      <span class="item item-2"></span>
    </a>
    <!-- END / CLOSE MENU RESPONSIVE -->
  </div>
</header>
<!-- END / HEADER PAGE -->
