<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Скорость работы</h2>
        <p>Ниже мы расписали среднее время выполнения основных наших проектов в неделях.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="block">
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-chatboxes-outline"></i>
                <h4 class="counter">12</h4>
                <span>12 недель длятся организованные нами курсы обучения веб-разработке</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-glasses-outline"></i>
                <h4 class="counter">5</h4>
                <span>от 2 до 5 недель уходит на создание одного сайта</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-compose-outline"></i>
                <h4 class="counter">7</h4>
                <span>от 3 до 7 недель уходит на создание одного интернет-магазина</span>
              </div>
            </li>
            <li>
              <div class="block">
                <i class="ion-ios-timer-outline"></i>
                <h4 class="counter">13</h4>
                <span>В среднем 13 недель занимает создание приложения</span>
              </div>
            </li>

          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="img/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="img/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="img/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
            <div>
              <img src="img/cotation.png" alt="IMG">
              <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
              <div class="user">
                <img src="img/item-img1.jpg" alt="Pepole">
                <p><span>Rose Ray</span> CEO-Themefisher</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
