<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Немного о нас</h2>
        <p>Агентство Apigraph осуществляет информационную поддержку стартапам, а также услуги веб-дизайна / веб-разработки малому и среднему бизнесу. Мы знаем как делать сайты качественно и в то же время дешевле, чем у других веб разработчиков. </p>
        <p>Каждого клиента мы вводим в курс дела, объясняем тонкости работы сайтов на различных платформах, их плюсы и минусы, редактирование и обновление, стоимость в обслуживании.
        В результате наш клиент вправе сам выбрать, на какой основе ему нужен сайт, будь это CMS система (например, WordPress) или сайт с нуля.</p>
        <p>Однако, сделанный сайт - это лишь полдела. Не меньшее внимание мы уделяем поддержке и оптимизации веб-сайтов, поисковой оптимизации (СЕО), маркетингу в социальных сетях.</p>
        <p>По желанию мы инвестируем усилия в создание и поддержание корпоративных блогов / новостных лент.</p>



      </div>
    </div>
    <div class="row ">
      <div class="section-title">
        <h2>Наши услуги</h2>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>Веб дизайн</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Веб разработка</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>Поддержка сайта</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>СЕО</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Оптимизация сайтов</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Корпоративное обучение</h4>
          <p></p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Мобильные приложения</h4>
          <p></p>
        </div>
      </div>
    </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Веб приложения</h4>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</section>
